.venv/
__pycache__/
*.pyc


*.pt
*.onnx
*.weights


output/*.mp4
output/frames/*.jpg
output/frames/*.png
output/*.csv
!output/.gitkeep
!output/frames/.gitkeep

# ASSIGNMENT BRIEF AND MY REPORT
*.pdf
*.docx

# input vid
data/*.mp4
data/*.mov
data/*.MOV
!data/.gitkeep
